@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
  color: white;
  font-family: Arial, sans-serif;
}

a {
  transition: all 0.2s;
}
a:hover {
  color: #0ea5e9;
}
